## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
import random
sample_list_1 = random.sample(range(100), 80)
print(sample_list_1)

[49, 83, 27, 60, 89, 85, 58, 62, 34, 38, 69, 25, 43, 97, 12, 17, 65, 1, 32, 26, 53, 86, 81, 2, 52, 77, 24, 6, 94, 95, 57, 40, 31, 7, 45, 4, 46, 88, 19, 15, 51, 78, 92, 10, 44, 18, 36, 33, 48, 11, 37, 56, 73, 63, 70, 9, 21, 76, 30, 93, 54, 39, 55, 67, 90, 23, 59, 14, 8, 5, 71, 84, 41, 72, 29, 91, 82, 80, 3, 50]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [8]:
sample_list_1 = [0, 56, 89, 36, 79, 64, 98, 13, 88, 37, 49, 44, 38, 16, 67, 7, 66, 41, 42, 92, 2, 34, 65, 61, 1, 97, 46, 58, 29, 15, 83, 55, 72, 75, 11, 74, 69, 63, 23, 9, 28, 5, 91, 51, 52, 57, 86, 62, 25, 50, 96, 14, 35, 4, 48, 84, 90, 45, 73, 10, 43, 24, 20, 32, 6, 95, 71, 17, 68, 39, 99, 33, 40, 30, 87, 60, 47, 18, 22, 81]
print(sample_list_1)

[0, 56, 89, 36, 79, 64, 98, 13, 88, 37, 49, 44, 38, 16, 67, 7, 66, 41, 42, 92, 2, 34, 65, 61, 1, 97, 46, 58, 29, 15, 83, 55, 72, 75, 11, 74, 69, 63, 23, 9, 28, 5, 91, 51, 52, 57, 86, 62, 25, 50, 96, 14, 35, 4, 48, 84, 90, 45, 73, 10, 43, 24, 20, 32, 6, 95, 71, 17, 68, 39, 99, 33, 40, 30, 87, 60, 47, 18, 22, 81]

In [9]:
set1 = set(sample_list_1)

print(set1)

{0, 1, 2, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 79, 81, 83, 84, 86, 87, 88, 89, 90, 91, 92, 95, 96, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [10]:
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(1,100))
print(sample_list_2)

[69, 87, 16, 95, 10, 58, 1, 34, 59, 41, 30, 65, 85, 42, 18, 80, 1, 61, 21, 74, 96, 84, 30, 3, 89, 86, 6, 80, 35, 73, 60, 44, 29, 44, 16, 82, 87, 81, 19, 4, 61, 28, 90, 62, 30, 68, 11, 72, 68, 11, 32, 47, 49, 32, 92, 10, 71, 73, 60, 71, 48, 35, 40, 3, 90, 4, 71, 89, 58, 89, 53, 41, 38, 22, 40, 41, 36, 60, 82, 52]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [11]:
sample_list_2 = [69, 87, 16, 95, 10, 58, 1, 34, 59, 41, 30, 65, 85, 42, 18, 80, 1, 61, 21, 74, 96, 84, 30, 3, 89, 86, 6, 80, 35, 73, 60, 44, 29, 44, 16, 82, 87, 81, 19, 4, 61, 28, 90, 62, 30, 68, 11, 72, 68, 11, 32, 47, 49, 32, 92, 10, 71, 73, 60, 71, 48, 35, 40, 3, 90, 4, 71, 89, 58, 89, 53, 41, 38, 22, 40, 41, 36, 60, 82, 52]
set2 = set(sample_list_2)

print(set2)

{1, 3, 4, 6, 10, 11, 16, 18, 19, 21, 22, 28, 29, 30, 32, 34, 35, 36, 38, 40, 41, 42, 44, 47, 48, 49, 52, 53, 58, 59, 60, 61, 62, 65, 68, 69, 71, 72, 73, 74, 80, 81, 82, 84, 85, 86, 87, 89, 90, 92, 95, 96}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [17]:
set3=(set1.difference(set2))
print(set3)

{0, 2, 5, 7, 9, 13, 14, 15, 17, 20, 23, 24, 25, 33, 37, 39, 43, 45, 46, 50, 51, 55, 56, 57, 63, 64, 66, 67, 75, 79, 83, 88, 91, 97, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [18]:
set4=(set2.difference(set1))
print(set4)

{3, 80, 82, 19, 53, 21, 85, 59}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [19]:
set5 = list(set1 & set2)
print(set5)

[1, 4, 6, 10, 11, 16, 18, 22, 28, 29, 30, 32, 34, 35, 36, 38, 40, 41, 42, 44, 47, 48, 49, 52, 58, 60, 61, 62, 65, 68, 69, 71, 72, 73, 74, 81, 84, 86, 87, 89, 90, 92, 95, 96]

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [28]:
print(len(set1))

80

In [29]:
print(len(set2))

52

In [30]:
print(len(set3))

36

In [31]:
print(len(set4))

8

In [32]:
print(len(set5))

44

In [34]:
import pandas as pd
import seaborn as sn
values = [80, 52, 36, 8, 44]
print (values)
correlation = values.corr()
print(correlation)

[80, 52, 36, 8, 44]

AttributeError: 'list' object has no attribute 'corr'

#### Create an empty set called `set6`.

In [35]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [37]:
set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [38]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [39]:
Check = set2.issubset(set1)

print(Check)

False

In [40]:
Check2 = set3.issubset(set1)

print(Check2)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [41]:
Union = set3.union(set4,set5)

print(Union)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 95, 96, 97, 98, 99}

In [42]:
Union2 = set1.union(set2)

print(Union2)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 95, 96, 97, 98, 99}

In [43]:
Union==Union2

True

#### Using the `pop` method, remove an element from `set1`.

In [50]:
set1_list = [0, 1, 2, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 79, 81, 83, 84, 86, 87, 88, 89, 90, 91, 92, 95, 96, 97, 98, 99]
print(set1_list.pop(2))
print(set1_list)

2
[0, 1, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 79, 81, 83, 84, 86, 87, 88, 89, 90, 91, 92, 95, 96, 97, 98, 99]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [54]:
set1_list = [0, 1, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 79, 81, 83, 84, 86, 87, 88, 89, 90, 91, 92, 95, 96, 97, 98, 99]
unwanted = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
  
for ele in sorted(unwanted, reverse = True):  
    del set1_list[ele] 
print (*set1_list)

IndexError: list assignment index out of range